<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="SPIPware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	 <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="SPIPware.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<userSettings>
		<SPIPware.Properties.Settings>
   <setting name="P" serializeAs="String">
    <value>COM3</value>
   </setting>
   <setting name="SerialPortBaud" serializeAs="String">
    <value>115200</value>
   </setting>
   <setting name="ConnectionType" serializeAs="String">
    <value>Serial</value>
   </setting>
   <setting name="ControllerBufferSize" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="StatusPollInterval" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="ViewportArcSplit" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="EnableCodePreview" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProbeSafeHeight" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ProbeMinimumHeight" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ProbeMaxDepth" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="AbortOnProbeFail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProbeFeed" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="ArcToLineSegmentLength" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SplitSegmentLength" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="WebServerPort" serializeAs="String">
    <value>8080</value>
   </setting>
   <setting name="JogFeed" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="JogDistance" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="LogTraffic" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Macros" serializeAs="String">
    <value>Probe and set Zero:G38.2Z-10F20
G92Z0;</value>
   </setting>
   <setting name="GCodeIncludeSpindle" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GCodeIncludeDwell" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GCodeIncludeMEnd" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="JogFeedCtrl" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="JogDistanceCtrl" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="PauseFileOnHold" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProbeXAxisWeight" serializeAs="String">
    <value>0.95</value>
   </setting>
   <setting name="ShowStatusLines" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConsoleFadeTime" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="ToolLengthSetterPos" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SettingsSendDelay" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="TLSUseActualPos" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManualUseExpressions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FileExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EditExpanderOpen" serializeAs="String">
    <value />
   </setting>
   <setting name="OverrideExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProbingExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManualExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ManualProbingExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MacroExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MachineExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AboutExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DebugExpanderOpen" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Einstellung" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TotalRows" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="PlateXOffset" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="XBetweenDistance" serializeAs="String">
    <value>132</value>
   </setting>
   <setting name="CameraSettingsPath" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="FileName" serializeAs="String">
    <value>SPIPImages</value>
   </setting>
   <setting name="SaveFolderPath" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="CurrentPlateSave" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="NumLocationsRow" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="SelectAll" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CurrentLocationX" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CameraName" serializeAs="String">
    <value>Mako</value>
   </setting>
   <setting name="Speed" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="CameraState" serializeAs="String">
    <value>Not Ready</value>
   </setting>
   <setting name="tlStartDate" serializeAs="String">
    <value />
   </setting>
   <setting name="tlEndDate" serializeAs="String">
    <value />
   </setting>
   <setting name="StartNow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="tlInterval" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="tlEndInterval" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="tlEndIntervalType" serializeAs="String">
    <value>60000</value>
   </setting>
   <setting name="tlIntervalType" serializeAs="String">
    <value>60000</value>
   </setting>
   <setting name="ExperimentPath" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="tlExperimentPath" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="AcquisitionExperimentPath" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="SettingsUpdateRequired" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PeripheralSP" serializeAs="String">
    <value>COM5</value>
   </setting>
   <setting name="PeripheralBaud" serializeAs="String">
    <value>115200</value>
   </setting>
   <setting name="PeripheralConType" serializeAs="String">
    <value>Serial</value>
   </setting>
   <setting name="BacklightColor" serializeAs="String">
    <value>#FFFFFFFF</value>
   </setting>
   <setting name="BacklightStatus" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GrowlightStatus" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CycleCount" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SecondaryAxis" serializeAs="String">
    <value>Y</value>
   </setting>
   <setting name="TertiaryAxis" serializeAs="String">
    <value>Z</value>
   </setting>
   <setting name="CurrentLocationY" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CurrentLocationZ" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="NumLocationsColumns" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="NumPlates" serializeAs="String">
    <value>7</value>
   </setting>
   <setting name="Y_Axis_Enable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Z_Axis_Enable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TotalColumns" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="PlateYOffset" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="RadiusOfWell" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="NumberOfTrays" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="WellXOffset" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="WellYOffset" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="ExperimentTitle" serializeAs="String">
    <value>Experiment Title</value>
   </setting>
   <setting name="YBetweenDistance" serializeAs="String">
    <value>132</value>
   </setting>
   <setting name="CurrentPlate" serializeAs="String">
    <value>0</value>
   </setting>
  </SPIPware.Properties.Settings>
	</userSettings>
	<runtime>
		<gcConcurrent enabled="false"/>
	</runtime>
 <applicationSettings>
  <SPIPware.Properties.Settings>
   <setting name="MinLocation" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PrimaryAxis" serializeAs="String">
    <value>X</value>
   </setting>
   <setting name="StartOfNight" serializeAs="String">
    <value>23:00:00</value>
   </setting>
   <setting name="EndOfNight" serializeAs="String">
    <value>07:00:00</value>
   </setting>
  </SPIPware.Properties.Settings>
 </applicationSettings>
</configuration>
